<!--QUOTE Components-->
<blockquote class="quote">
  <p class="quote__text">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tenetur dolor
    natus voluptatibus non beatae molestiae a reprehenderit, doloribus autem,
    rem quas quaerat nisi cum est at sapiente totam esse minus ullam architecto
    officiis vitae officia.
  </p>
  <footer>
    <div class="media">
      <div class="media__image">
        <svg class="icon icon--primary quote__image">
          <use xlink:href="images/sprite.svg#line"></use>
        </svg>
      </div>
      <div class="media__body">
        <h3 class="media__title quote__author">Clifford Evans</h3>
        <p class="quote__company">Head of Technical Support - iX Cameras Ltd</p>
      </div>
    </div>
  </footer>
</blockquote>

<!--full testimmonial template-->
<div class="card testimonial">
  <div class="grid grid--1x2">
    <div class="testimonial__image">
      <img src="../images/legoman.jpg" alt="A happy smiling gringo" />
      <span class="icon-container icon-container--accent">
        <svg class="icon icon--white icon--small">
          <use xlink:href="images/sprite.svg#quotes"></use>
        </svg>
      </span>
    </div>
    <div>
      <blockquote class="quote">
        <p class="quote__text">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tenetur
          dolor natus voluptatibus non beatae molestiae a reprehenderit,
          doloribus autem, rem quas quaerat nisi cum est at sapiente totam esse
          minus ullam architecto officiis vitae officia.
        </p>
        <footer>
          <div class="media">
            <div class="media__image">
              <svg class="icon icon--primary quote__image">
                <use xlink:href="images/sprite.svg#line"></use>
              </svg>
            </div>
            <div class="media__body">
              <h3 class="media__title quote__author">Clifford Evans</h3>
              <p class="quote__company">
                Head of Technical Support - iX Cameras Ltd
              </p>
            </div>
          </div>
        </footer>
      </blockquote>
    </div>
  </div>
</div>
