<!--QUOTE Components-->
<blockquote class="quote">
  <p class="quote__text">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tenetur dolor
    natus voluptatibus non beatae molestiae a reprehenderit, doloribus autem,
    rem quas quaerat nisi cum est at sapiente totam esse minus ullam architecto
    officiis vitae officia.
  </p>
  <footer>
    <div class="media">
      <div class="media__image">
        <svg class="icon icon--primary quote__image">
          <use xlink:href="images/sprite.svg#line"></use>
        </svg>
      </div>
      <div class="media__body">
        <h3 class="media__title quote__author">Clifford Evans</h3>
        <p class="quote__company">Head of Technical Support - iX Cameras Ltd</p>
      </div>
    </div>
  </footer>
</blockquote>
